{% extends "base/base.html" %}
{% load widget_tweaks %}

{% block title %}Add Product{% endblock  %}


{% block content %}
{% include "base/main_nav.html" %}
{% include "base/side_nav.html" %}

<div class="sale-container">
  <div class="card">
      <div class="card-body">
        <h5 class="card-title">Make a Sale</h5>
  
        <!-- No Labels Form -->
        <form class="row g-3" method="POST">
          {% csrf_token %}
          <div class="col-md-6">
            {% render_field form.name type="text" class="form-control" placeholder="Product Name" %}
          </div>
          <div class="col-md-6">
            {% render_field form.description type="text" class="form-control" rows='1' cols='1' placeholder="Product Description" %}
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="id_category">{{form.category.label}}</label>
              {% render_field form.category  class="form-select" placeholder="Select Product"%}
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-floating">
              {% render_field form.price type="text" class="form-control" placeholder="Product Price" %}
              <label for="floatingName">Price</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-floating">
              {% render_field form.quantity type="number" class="form-control" placeholder="Product Quantity"%}
              <label for="floatingName">Quantity</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-floating">
              {% render_field form.manufacturing_date type="date" class="form-control" placeholder="Product Manufacturing Date"%}
              <label for="floatingName">Manufacturing Date</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-floating">
              {% render_field form.expiry_date type="date" class="form-control" placeholder="Product Expiry Date"%}
              <label for="floatingName">Expiry Date</label>
            </div>
          </div>
          <div class="col-md-6">
            {% render_field form.status type="text" class="form-control" placeholder="Product Status" %}
          </div>
   
          <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Issued By: {{request.user}}" disabled>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary w-100">Add</button>
          </div>
        </form><!-- End No Labels Form -->
      </div>
  </div>
</div>



{% endblock  %}