{% extends "base/base.html" %}

{% block title %}User Profile{% endblock  %}


{% block content %}

{% include "base/main_nav.html" %}
{% include "base/side_nav.html" %}


<main id="main" class="main">

    <div class="pagetitle">
      <h1>User Profile Details</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url "dashboard" %}">Home</a></li>
          <li class="breadcrumb-item">Users</li>
          <li class="breadcrumb-item active">Profile</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

            <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                    {% comment %} <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle"> {% endcomment %}
                    <small class="me-auto fw-bold">
                        Profile Name: <span class="badge bg-success text-center">{{user.username|capfirst}}</span>
                    </small>
                    <small class="me-auto">
                        User Profile ID: <a href="{% url  "user_profile" user.id %}" class="">#{{user.id}}</a>
                    </small>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-xl-4">
    
                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
    
                        {% comment %} <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle"> {% endcomment %}
                        <small class="me-auto">
                            Product Sold:
                            <span class="badge bg-secondary">{{ sold_by.count }} item{{ sold_by.count|pluralize }}.</span>
                        </small>
                        <text class="me-auto">
                            Sold Item List:
                            <ul>
                                {% for item in sold_by %}
                                <li>{{item.product.name}}</li>
                                {% endfor %}
                            </ul>

                        </text>
                    </div>
                </div>
    
            </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h5 class="card-title">Description</h5>
                  <p class="small fst-italic">{{product.description|truncatewords:20}}</p>

                  <h5 class="card-title">Product Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">User Profile Name</div>
                    <div class="col-lg-9 col-md-8"><b>{{user.username}}</b></div>
                  </div>

                  <div class="row">
                    {% if product_cat %}
                    <div class="col-lg-3 col-md-4 label">
                        {% if product_cat_count > 1 %}
                        Categories
                        {% else %}
                        Category
                        {% endif %}
                    </div>
                    
                        <div class="col-lg-9 col-md-8">
                            {% for category in product.category.all %}
                                <span class="badge bg-success">{{category.name}}</span>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Price</div>
                    <div class="col-lg-9 col-md-8">₵{{product.price}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Stock Quantity</div>
                    <div class="col-lg-9 col-md-8">
                        {% if product.quantity < 10 %}
                            <span class="badge bg-danger">{{product.quantity}} pc{{ product.quantity|pluralize }}</span>
                        {% else %}
                            <span class="badge bg-success">{{product.quantity}} pc{{ product.quantity|pluralize }}</span>
                        {% endif %}
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Manufacturing Date</div>
                    <div class="col-lg-9 col-md-8">{{product.manufacturing_date|date}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Expiry Date</div>
                    <div class="col-lg-9 col-md-8">{{product.expiry_date|date}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Status</div>
                    <div class="col-lg-9 col-md-8">
                      {% if product.status == 'Active' %}
                        <span class="badge rounded-pill bg-success">{{product.status}}</span>
                      {% else %}
                        <span class="badge rounded-pill bg-danger">{{product.status|truncatechars:11}}</span>
                      {% endif %}
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Created By</div>
                    <div class="col-lg-9 col-md-8">{{product.created_by}}</div>
                  </div>

                </div>

            </div>
          </div>

        </div>
      </div>
    </section>

</main><!-- End #main -->


{% endblock  %}